# 표현식과 자료형

값을 나타내는 표현식과 값의 자료형에 대해 알아본다.

(sec:expressions)=
## 표현식

`17`, `3.14`, `'안녕하세요!'` 등은 변수에 할당하거나 연산자 또는 함수의 인자로 
사용할 수 있는 값이다. 
변수 또한 동일한 방식으로 사용될 수 있다.
예를 들어 아래 코드에서 선언된 변수 `num`은 정수 17일 가리키기에
정수 17 대신 어디서나 활용될 수 있다.

In [1]:
num = 17

**연산에서 활용**

연산자를 이용한 수식 표현에서 활용될 수 있다.

In [2]:
num + 2

19

**함수의 인자에서 활용**

아래 코드는 두 인자 중에서 최댓값을 계산하는 함수의 인자로
변수를 활용하는 방식을 보여준다.

- `max(num+2, num//2)`: `num+2`가 나타내는 값 19와 `num//2`가 나타내는 값 8의 최댓값 계산.
- `max_17`: 계산된 최댓값인 19를 할당받음.

In [3]:
max_value = max(num+2, num//2)
print(max_value)

19

반면에 아래 코드는 최솟값을 계산하는 `min()` 함수를 활용한다.

In [4]:
min_value = min(num*2, num/2)
print(min_value)

8.5

이전 두 코드에서 값을 나태내는 표현하는 식과 실제 나타내는 값은 다음과 같다.

| 표현식 | 값 |
| :---: | :---: |
| `num` | 17 |
| `17` | 17 |
| `2` | 2 |
| `num + 2` | 19 |
| `max(num+2, num//2)` | 19 |
| `max_value` | 19 |
| `min(num*2, num/2)` | 8.5 |
| `min_value` | 8.5 |

이처럼 특정 값을 표현하는 식을 **표현식**<font size='2'>expression</font>이라 부른다.

파이썬을 포함하여 대다수의 프로그래밍 언어에서는 정수와 부동소수점을 이용한 계산뿐만 아니라
다양한 종류의 연산자와 함수를 활용하여 특정 값을 표현하는 표현식을 작성할 수 있다.
예를 들어 {numref}`%s장 <ch:starting>`에서 간단하게 소개한 문자열, 리스트 등도 값이며,
아래 표현식들처럼 문자열 연산과 리스트 인덱싱 등도 특정 값을 표현하는 표현식이다.

In [5]:
hello = "파이썬," + " 안녕!"
print(hello)

파이썬, 안녕!

In [6]:
languages = ['파이썬', 'C', "자바", "Rust"]

print('파이썬' in languages)

True

In [7]:
python = languages[0]
print("인기가 가장 높은 프로그래밍 언어:", python)

인기가 가장 높은 프로그래밍 언어: 파이썬

## 주석

프로그램을 작성할 때
포함된 코드의 기능과 작성 의도 등을 설명하는 문구나 문장을 추가하면
프로그램의 작동 원리와 과정을 보다 쉽게 이해할 수 있다.
이와 같이 프로그램의 실행과는 무관하지만 명령문, 함수 등의 
기능, 아이디어 등을 설명하는 문장이
**주석**<font size="2">comment</font>이다.

주석은 설명 용도로만 사용되며 프로그램이 실행될 때 파이썬 실행기에 의해 무시된다.

**한줄 주석**

주석은 한 줄 또는 여러 줄로 작성될 수 있다.
한줄 주석은 우물정(샵) 기호 `#` 로 시작한다.

In [8]:
# speed는 시속을 가리키는 변수이다.

speed = 90 # 속도 단위는 km이다.
print("스피드:", speed, "km")

스피드: 90 km

위 코드와 아래 코드는 동일하게 작동한다.

In [9]:
speed = 90
print("스피드:", speed, "km")

스피드: 90 km

**여러 줄 주석**

한줄 주석을 연속적으로 사용하여 여러 줄 주석을 작성할 수 있다.

In [10]:
# speed는 시속을 가리키는 변수이다.
# 속도 단위는 km이다.

speed = 90 
print("스피드:", speed, "km")

스피드: 90 km

반면에 작은따옴표 세 개 `'''`  또는 큰따옴표 세 개 `"""` 로 감싸서
여러 줄 주석을 작성할 수도 있다.

In [11]:
'''
speed는 시속을 가리키는 변수이다.
속도 단위는 km이다.
'''

speed = 90 
print("스피드:", speed, "km")

스피드: 90 km

또는

In [12]:
"""
speed는 시속을 가리키는 변수이다.
속도 단위는 km이다.
"""

speed = 90 
print("스피드:", speed, "km")

스피드: 90 km

## 자료형

### 값과 변수의 자료형

파이썬에 사용되는 값과 선언된 변수는 모두 **자료형**<font size='2'>data type</font>를 갖는다.
값 또는 변수의 자료형은 `type()` 함수를 이용하여 확인한다.
아래 코드는 정수의 자료형이 `int`라고 확인해준다.

In [13]:
type(6)

int

선언된 변수의 자료형은 할당된 값의 자료형으로 지정된다.
예를 들어 변수 `b`에 할당된 값이 6기에 변수 `b`의 자료형 또한 `int`로 확인된다.

In [14]:
b = 6
type(b)

int

그런데 변수가 가리키는 값을 다른 값으로 대체할 수 있는데 이때 다른 자료형의 값이 사용될 수 있다.
예를 들어 아래 코드는 변수 `b`가 가리키는 값을 `Hello, world!` 라는 문자열로 지정한다.

In [15]:
b = "Hello, world!"

변수가 가리키는 값이 달라지면 변수의 자료형 또한 변경된 값의 자료형으로 바뀐다.
문자열의 자료형은 `str`이다.

In [16]:
type(b)

str

:::{admonition} 변수의 자료형 명시
:class: note

앞서 보았듯이 파이썬의 변수 할당 명령문은 변수에 할당되는 값의 자료형을 지정하지 않으며,
이는 C, C++, C#, 자바 등 다른 프로그래밍 언어와의 차이점 중에 하나다.

예를 들어, C 언어에서 변수 `b`를 `int` 자료형으로 선언하려면 아래와 같이 변수의 자료형을 함께 지정한다.

```c
// C 언어 코드
int b;
b = 6;
```

C 언어의 경우 또한 선언된 자료형과 다른 자료형값을 변수 할당에 사용할 수 없다.
예를 들어 아래 코드의 실행은 허용되지 않는다.

```c
// C 언어 코드
int b;
b = 6;
b = "Hello, world!";  // 허용되지 않음
```
:::

### 표현식의 자료형

표현식의 자료형은 표현하는 값의 자료형이다.

In [17]:
type(num + 2)

int

In [18]:
type(max(num+2, num//2))

int

In [19]:
type(min(num*2, num/2))

float

In [20]:
type("파이썬," + " 안녕!")

str

In [21]:
type(['파이썬', 'C', "자바", "Rust"][0])

str

### 파이썬 기초 자료형

지금까지 살펴본 정수, 부동소수점, 문자열 세 종류의 값은
`int`, `float`, `str`의 자료형을 갖는다.
이에 더해 파이썬은 `True`와 `False`로 구성된 부울 자료형인 `bool`도 기초 자료형으로 제공한다.

**정수 자료형: `int`**

-2, -1, 0, 1, 2 등의 정수는 `int` 자료형의 값이다.
정수는 사칙연산, 변수 할당 등에 사용된다.

In [22]:
1 + 2

3

In [23]:
a = 4
type(a)

int

In [24]:
a * 2

8

**부동소수점 자료형: `float`**

**부동소수점**은 유한소수를 가리키며 `float` 자료형의 값이다.
정수와 마찬가지로 사칙연산, 변수 할당 등에 사용된다.

In [25]:
2.1 + 3.3

5.4

In [26]:
c = 2.1
type(c)

float

`int`와 `float`는 다른 자료형이다. 
하지만 정수를 유한소수로 간주하듯이
필요에 따라 `int` 자료형의 값이  `float` 자료형의 값으로 취급된다.
예를 들어 `2.3 + 3`을 계산해야 할 때 `2.3 + 3.0`을 계산한다.

In [27]:
2.3 + 3

5.3

**문자열 자료형: `str`**

문자들을 나열한 값들을 일컫는 자료형으로 작은 따옴표 `'`  또는 큰 따옴표 `"` 를 사용한다.

In [28]:
hello_python = 'Hello, Python!'
print(hello_python)

Hello, Python!

In [29]:
like_python = "파이썬 좋아!"
print(like_python)

파이썬 좋아!

**부울 자료형: `bool`**

참과 거짓을 의미하는 `True`와 `False`를 
**부울값**<font size="2">Boolean value</font>
또는 **진릿값**이라 하며,
부울값의 자료형은 부울 자료형인 `bool`이다.

In [30]:
type(True)

bool

In [31]:
d = False
type(d)

bool

(sec:type_casting)=
### 형변환

서로 다른 두 자료형의 연산은 일반적으로 허용되지 않는다.
그런데 부동소수점 2.0과 정수 3을 더하면 5.0으로 계산된다.
이는 파이썬 실행기가 정수 3을 부동소수점 3.0으로 자료형을 변환하여 계산하기 때문이다.

In [32]:
2.0 + 3

5.0

이렇게 내부적으로 값을 다른 자료형의 값으로 계산하는 기능을
**형변환**<font size="2">type casting</font>이라 부른다.
형변환 사용되는 함수로 `int()`, `float`, `str()`, `bool()` 등이 가장 많이 자주 사용된다.

**`int()` 함수**

정수 모양의 문자열, 부동소수점, 부울값을 정수로 계산한다.

- 정수 모양의 문자열 형변환

In [33]:
int('5')

5

문자열이 정수의 모양을 갖추지 못하면 오류가 발생한다.

- 오류 종류: 값오류(`ValuError`)
- 오류 내용: `'5.1'`은 정수 모양이 아님.

In [34]:
int('5.1')

ValueError: invalid literal for int() with base 10: '5.1'

- 부동소수점에서 정수로 형변환. 소수점 이하 버리기

In [35]:
int(4.8)

4

- 부울값에서 정수로: `True`와 `False`는 각각 1과 0으로 취급

In [36]:
int(True)

1

In [37]:
int(False)

0

**`float()` 함수**

정수 또는 유한소수 모양의 문자열을 부동소수점으로 계산한다.

- 정수를 부동소수점으로 형변환

In [38]:
float(2)

2.0

- 유한소수 모양의 문자열 형변환

In [39]:
float('7.9')

7.9

- 정수 모양의 문자열 형변환

In [40]:
float('7')

7.0

문자열이 부동소수점 또는 정수 모양을 갖추지 못하면 오류가 발생한다.

- 오류 종류: 값오류(`ValuError`)
- 오류 내용: `'5.1a'`은 부동소수점 모양이 아님.

In [41]:
int('5.1a')

ValueError: invalid literal for int() with base 10: '5.1a'

- 부울값에서 정수로: `True`와 `False`는 각각 1.0과 0.0으로 취급

In [42]:
float(True)

1.0

In [43]:
float(False)

0.0

**`str()` 함수**

임의의 값을 문자열로 변환한다.

In [44]:
str(6)

'6'

In [45]:
str(7.6)

'7.6'

In [46]:
str(False)

'False'

**`bool()` 함수**

임의의 값을 `True` 또는 `False` 로 변환한다.
`0`, `0.0`, `''`(비어 있는 문자열), `[]` (비어 있는 리스트) 등처럼 0, 비어 있는 것, 의미 없는 것등은 `False` 로
그렇지 않으면 `True` 로 지정한다.

In [47]:
bool(0)

False

In [48]:
bool(1)

True

In [49]:
bool(-1)

True

In [50]:
bool(0.0)

False

In [51]:
bool(-0.01)

True

In [52]:
bool('')

False

In [53]:
bool('e')

True

In [54]:
bool([])

False

In [55]:
bool([3])

True

:::{admonition} `float` 대 `float()`
:class: tip

`int`, `float`, `str`, `bool` 등은 각각의 자료형을 가리키기도 하고 
형변환 함수를 가리키기도 한다. 
여기서는 자료형과 형변환 함수의 이름을 구분하기 위해 
함수는 `int()`, `float()`, `str()`, `bool()` 등처럼
함수 이름과 괄호를 함께 사용하는 표기법 관행을 따른다.
:::

## 예제

**예제 1**

먼저 아래와 같이 변수를 선언한다.

In [56]:
number = 17
two_semicolons = ';;'

다음에 오는 각각의 표현식들에 대해, 표현식의 값과 자료형을 확인한다.

(1) `number + 2`

답:

In [57]:
number + 2

19

In [58]:
type(number + 2)

int

(2) `number - 2.0`

답:

In [59]:
number - 2.0

15.0

In [60]:
type(number - 2.0)

float

(3) `number / 2`

답:

In [61]:
number / 2

8.5

In [62]:
type(number / 2)

float

(4) `number // 2`

답:

In [63]:
number // 2

8

In [64]:
type(number // 2)

int

(5) `number % 2`

답:

In [65]:
number % 2

1

In [66]:
type(number % 2)

int

(6) `number`의 세제곱을 (2 + 3)으로 나누기

답:

In [67]:
number**3 / (2 + 3)

982.6

In [68]:
type(number**3 / (2 + 3))

float

(7) `two_semicolons * 3`

답:

In [69]:
two_semicolons * 3

';;;;;;'

In [70]:
type(two_semicolons * 3)

str

**예제 2**

아래 수식을 계산하려 하면 오류가 발생한다.

In [71]:
3 + '3.0'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

유한소수 모양의 문자열을 부동소수점 자료형으로 변환하여 3 + 3.0이 계산되도록 한다.

힌트: `float()` 함수를 활용한다.

답:

`float()` 함수는 부동소수점 모양의 문자열을 실제 부동소수점으로 변환시킨다.

In [72]:
3 + float('3.0')

6.0

**예제 3**

두 변수가 다음과 같이 선언된다.

In [73]:
x = 2.438730
y = 5.711729

(1) 두 변수가 가리키는 값이 평균값을 계산하는 표현식을 정의한 다음에 변수 z에 할당한다.
또한 z가 가리키는 값과 자료형을 화면에 다음과 같이 출력한다.

```python
x와 y의 평균값: 4.0752295
```

답:

In [74]:
z = (x + y)/2

In [75]:
print("x와 y의 평균값:", z)

x와 y의 평균값: 4.0752295

(2) 두 변수가 가리키는 값이 평균값을 다음과 같이 출력한다.

```python
x와 y의 평균값: 4.075
```

힌트: `round()` 함수 활용

답:

In [76]:
print("x와 y의 평균값:", round(z, 3))

x와 y의 평균값: 4.075

(3) 두 변수가 가리키는 값이 평균값을 다음과 같이 출력한다.

```python
x와 y의 평균값: 약 4
```

힌트: `int()` 함수 활용

답:

In [77]:
print("x와 y의 평균값: 약", int(z))

x와 y의 평균값: 약 4

**예제 4**

변수가 다음과 같이 선언된다.

In [78]:
even_num = 666

(1) `even_num`이 가리키는 값이 짝수인지를 판정하는 표현식을 변수 `is_num_even`이 가리키도록 한다.

답:

`even_num` 변수가 짝수를 가리키는지 여부는 아래 표현식으로 나타낸다.

In [79]:
even_num % 2 == 0

True

따라서 `is_num_even` 를 다음과 같이 선언한다.

In [80]:
is_num_even = even_num % 2 == 0

(2) `is_num_even`이 가리키는 값의 자료형을 확인한다.

답:

변수가 가리키는 값의 자료형은 변수 자체의 자료형과 동일하며,
`True`와 `False`는 `bool` 자료형을 갖는다.

In [81]:
type(is_num_even)

bool

(3) `even_num`이 짝수이면서 동시에 3의 배수임을 판정하는 표현식을 작성하라.

힌트: `and` 연산자 활용

답:

`and` 연산자는 두 개의 `bool` 자료형의 값을 사칙연산자처럼 좌우로 사용하며
두 값이 모두 `True`일 때만 `True`로 계산된다.

In [82]:
(even_num % 2 == 0) and (even_num % 3 == 0)

True

괄호는 생략해도 된다.
이유는 `and` 연산자보다 나머지 연산자 `%`의 우선순위가 높기 때문이다.

In [83]:
even_num % 2 == 0 and even_num % 3 == 0

True

## 연습문제

참고: [(연습) 표현식과 자료형](https://colab.research.google.com/github/codingalzi/42H/blob/master/practices/practice-expressions_dataTypes.ipynb)