(ch:starting)=
# 프로그래밍 맛보기

## Hello, world! 문장 출력

많은 프로그래밍 입문서가 아래 문장을 화면에 출력하는 것으로 시작한다.

    Hello, world!
    
그렇게 하는 이유는 위 문장을 출력하는 코드를 작성할 때 주요 프로그램 요소를 함께 소개할 수 있기 때문이다.
이런 면에서 파이썬은 아래와 같이 매우 단순한 명령문을 이용하여 위 문장을 화면에 출력시킬 수 있다.
단, 문장을 큰따옴표 또는 작은 따옴표로 감싸야 한다.
또한 따옴표의 중요하지 않지만 동일한 종류의 따옴표로 감싸야 함에 주의한다.

In [1]:
print("Hello, world!")

Hello, world!

또는

In [2]:
print('Hello, world!')

Hello, world!

위 코드에 사용된 `print`는 괄호 안에 인자로 지정된 문장을 화면에 출력하도록 하는 명령문 기능을 갖는 함수다.
프로그래밍에서의 함수는 매우 중요하기에 나중에 자세히 소개한다.
여기서는 `print` 함수를 이렇게 사용하는구나 라는 점만 기억해둔다.
또한 앞으로 소개할 모든 함수는 `print()` 처럼 함수 이름과 괄호를 함께 표기하는 방식으로 언급될 것이다.

:::{admonition} 주의사항
:class: tip

`print()` 함수를 실행했을 때 
문장을 지정할 때 사용되는 따옴표 기호 `"` 또는 `'`는 함께 출력되지 않는다.
하지만 그렇다고 해서 사용된 따옴표가 컴퓨터에서 사라지는 것은 아니고 편의상 화면에 보이지 않을 뿐이다.
:::

## 문자열

`"Hello, world!"`처럼 문자와 기호의 나열로 구성된 문장을 프로그래밍 분야에서는 **문자열**<font size='2'>string</font>이라 부른다.
문자열은 아래에 언급된 것들처럼 일반적으로 임의의 기호로 구성된다.

```python
"^_^;;;"
"우.... ㅎㅎㅎ"
'영어 ㅠㅠㅠ English!!!'
'+++---+++...+++'
```

문자열은 그 자체로 어떤 의미도 갖지 않는다.
예를 들어 숫자 3과 숫자 기호 3으로 구성된 문자열 `'3'`은 엄연히 다르다.
숫자 3은 연산에 사용되지만 문자열 `'3'`은 일반적으로 연산에 허용되지 않는다.

## 줄바꿈과 들여쓰기

파이썬은 줄바꿈과 들여쓰기를 이용하여 명령문들을 구분하고 명령문들로 구성된 블록을 지정한다.
에를 들어 아래 코드는 파이썬을 좋아하는 경우에만 Hello world!와 I love Python 두 문자열이 출력되도록 한다.

In [3]:
love_python = True

if love_python:
    print("Hello, world!")
    print("I love Python")

Hello, world!
I love Python

`if love_python:`은 `love_python`이 참인지 여부를 확인하도록 하는 명령문이다.
그런데 1번 줄에서 `love_python = True`라고 작성되어 있기에 
`love_python`이 참으로 확인되고, 
따라서 `print("Hello, world!")`와 `print('I love Python')` 두 명령문이 차례대로 실행된다.

반면에 아래 코드를 실행하면 아무 것도 출력되지 않는다.
이유는 1번 줄에서 `love_python`이 거짓으로 확인되기 때문이다.

In [4]:
love_python = False

if love_python:
    print("Hello, world!")
    print("I love Python")

`if love_python:`에 콜론 기호 `:` 사용되고 이어지는 두 개의 명령문은 들여쓰기 이후에 작성되었음에 주의한다.
이렇게 동일한 정도의 들여쓰기 이후에 작성된 명령문으로 구성된 블록을 코드 블록이라 부르며,
그런 코드 블록은 특정 조건 하에서만 실행된다.
예를 들어 위 코드에서는 `love_python`이 참인 값을 가리키는 경우에만 실행된다.

## 기초 명령문

컴퓨터 프로그램은 **명령문**<font size="2">statement</font>들의 목록으로 구성된다.
각각의 프로그래밍 언어는 **구문**<font size='2'>syntax</font>이라 불리는 
프로그래밍 언어 고유의 명령문 작성법을 제공한다.
하지만 파이썬을 포함한 대다수의 프로그래밍 언어에서
다음 네 개의 기초 명령문의 조합으로 명령문을 생성한다.

* 변수 할당
* `if` 조건문
* `for` 반복문
* `while` 반복문

프로그래밍 언어 구문의 엄밀한 정의는 일반적으로 매우 복잡하기에 초보자가 이해하기 어렵다.
특히 프로그래밍에 입문하는 경우 언어의 구문을 정확히 아는 것보다는 
원하는 기능을 옳바르게 수행하는 프로그램을 구현하는 훈련이 보다 중요하다.

앞으로 다양한 파이썬 명령문을 작성하는 방식을 하나씩 소개한다. 
프로그래밍을 잘한다 함은 바로 문제 해결에 적절한 명령문을 작성한다는 의미이다. 
여기서는 자세한 설명 없이 간단하지만 매우 기본적인 
파이썬 코드를 이용하여 
변수 할당 명령문을 활용해본다.

## 변수 할당

단순하게 말해 컴퓨터 프로그램은 값을 저장하고 조작하여 새로운 값을 계산하고, 계산된 값을 활용하는
방법을 묘사한다.
따라서 값을 저장하는 기능이 프로그램의 기본이다.
값의 저장과 활용은 반드시 **변수**<font size='2'>variable</font>를 활용해야 한다.
변수는 저장된 값을 가리키는 일종의 이름이며,
코드 어디에서든 자신이 가리키는 값을 대신하여 활용될 수 있다.

변수는 키보드에서 한글 또는 영어 문자 기호, 숫자 기호, 밑줄 기호 `_`를 이용한 임의의 조합으로 지정될 수 있다.
앞서 사용한 `love_python` 또한 하나의 변수이며 참을 의미하는 `True`라는 값을 가리킨다.

값을 저장하고 저장된 변수를 선언하는 과정은
변수 할당 명령문을 지정하는 방식으로 이뤄진다.
예를 들어 아래 코드는 3을 저장하면서 동시에 변수 `a`가 저장된 값 3을 가리키도록 하는 명령문이다.

In [5]:
a = 3

이처럼 변수와 값을 연결시키는 명령문이 **변수 할당**<font size="2">variable assignment</font> 명령문이다.
이제 변수 `a`가 가리키는 값을 `print()` 함수를 이용하여 확인하면 3이 출력된다.

In [6]:
print(a)

3

변수는 저장된 값을 대신하여 활용될 수 있다.
예를 들어 아래 코드는 변수 `a`가 가리키는 값에 2를 곱한 결과를 변수 `b`가 가리키도록 한다.

In [7]:
b = 2 * a

변수 `b`가 가리키는 값을 확인하면 6이 출력된다.

In [8]:
print(b)

6

`print()` 함수는 두 개 이상의 값을 동시에 출력할 수 있다.
아래 코드는 `a`와 `b` 두 변수가 가리키는 값을 공백(스페이스)으로 구분하여 출력한다.

In [9]:
print(a, b)

3 6

변수 할당을 포함한 모든 명령문을 줄바꿈을 이용하여 동시에 실행시킬 수 있다.
예를 들어 아래 코드는 변수 `a`가 가리키는 값과 변수 `b`가 가리키는 값을 이용하여
두 개의 새로운 변수를 선언한다.

In [10]:
a빼기b = a - b
b곱하기a = b * a
print(a빼기b, b곱하기a)

-3 18

위 코드에서는 한글 문자 또한 변수를 지정할 때 사용될 수 있다는 것을 보여주기 위해 일부러 한글과 영어를 섞어 변수를 선언하였다.
하지만 한글 문자를 변수 선언에 활용하는 경우는 많지 않다.
따라서 앞으로 한글 문자를 변수 선언에 사용하지 않는다.

:::{admonition} 여러 줄의 코드 실행
:class: tip

여러 줄의 명령문으로 구성된 코드는 맨 윗줄의 명령문부터 차례대로 실행된다.
또한 윗 줄에서 실행됨 명령문의 결과는 아랫 줄의 명령문에서 활용될 수 있다.
:::

## 파이썬 계산기

파이썬을 계산기로 활용할 수 있다.
또한 변수를 연산에 사용할 수 있고,
변수에 저장된 값을 조작하여 다른 값을 계산할 수도 있다.
파이썬이 제공하는 기초 연산을 정리하면 아래와 같다. 

| 연산자 | 의미 |
| :---: | :---: |
| `+` | 덧셈 |
| `-` | 뺄셈 |
| `*` | 곱셈 |
| `/` | 나눗셈 |
| `**` | 거듭제곱 |
| `//` | 몫 |
| `%` | 나머지 |

다음 세 개의 변수를 이용하여 각 연산자의 사용법을 확인한다.

In [11]:
a = 7
b = 3
c = b + 4

사칙연산을 자유롭게 사용할 수 있으며
연산 결과를 변수에 할당할 수도 있다.

- 덧셈

In [12]:
a + b

10

In [13]:
d = a + b
print(d)

10

- 뺄셈

In [14]:
b - a

-4

In [15]:
e = b - a
print(e)

-4

- 곱셈

In [16]:
a * b

21

In [17]:
d = a * b
print(d)

21

- 나눗셈

In [18]:
b / a

0.42857142857142855

In [19]:
e = b / a
print(e)

0.42857142857142855

- 거듭제곱

In [20]:
a ** 2 + 1

50

In [21]:
f = a ** 2 + 1 
print(f)

50

- 정수 나눗셈의 몫과 나머지

`//`은 몫을 계산한다.

In [22]:
8 // b + 3//2

3

In [23]:
f = 8 // b + 3//2
print(f)

3

`%`는 나머지를 계산한다.

In [24]:
c % b + f

4

In [25]:
g = c % b + f 
print(g)

4

## 정수와 부동소수점

몫 연산과 나눗셈 연산은 다름에 주의한다.
몫 연산의 결과는 정수인 반면에 나눗셈의 결과는 유리수로 표현된다.

In [26]:
c / b

2.3333333333333335

프로그래밍 분야에서 유리수는 **부동소수점**<font size='2'>floating point</font>이라 불린다.
나눗셈을 제외한 정수들의 연산은 정수로 계산된다.
하지만 정수에 점(`.`)을 찍으면 유리수, 즉 부동소수점으로 취급되어 모든 연산의 결과가 부동소수점으로 계산된다.
예를 들어 아래 코드에서 `3.`은 정수 3이 아닌 부동소수점 3.0으로 취급되어
관련된 모든 연산이 부동소수점으로 표현된다.

In [27]:
a + 3.

10.0

In [28]:
a - 3.

4.0

In [29]:
a * 3.

21.0

In [30]:
a / 3.

2.3333333333333335

**주의사항**

정수를 가리키는 변수에 점을 찍어 부동소수점으로 강제로 계산되도록 하는 일은 허용되지 않는다.
아래 코드를 실행하면 허용되지 않은 구문을 사용했다는 의미의 
`SyntaxError` 라는 실행 오류가 발생한다. 

오류 내용에 포함된 내용은 다음과 같다.

- `Cell In[30], line 2`: 코드의 2번 줄에 위치한 명령문에서 오류가 발생
- `^`: 오류가 발생한 명령문의 위치 표시
- `SyntaxError: invalid syntax`: 허용되지 않은 구문이 사용되었다는 의미의 구문 오류를 가리키는 `SyntaxError` 정보 표기

In [31]:
d = 7
a * d.

SyntaxError: invalid syntax (3042087045.py, line 2)

## 예제

**예제 1**

아래 명령문들을 실행해서 오류가 발생하는 경우 오류의 종류와 원인을 설명하고 수정한다.
오류가 발생하지 않으면 실행 결과를 설명한다.

(1)

In [32]:
print("Hello World"

SyntaxError: incomplete input (353226650.py, line 1)

답

- 오류 종류: SyntaxError(구문 오류)

- 오류 원인: print() 함수의 인자는 소괄호로 감싸져야 하는데 닫는 괄호가 없음.

In [34]:
# 오류가 수정된 코드

print("Hello World")

Hello World

(2)

In [35]:
print('Hello World")

SyntaxError: unterminated string literal (detected at line 1) (2803455855.py, line 1)

답

- 오류 종류: SyntaxError(구문 오류)

- 오류 원인: 문자열은 동일한 따옴표로 감싸져야 함. 여는 따옴표는 작은따옴표인데 닫는 따옴표는 큰따옴표임. 동일한 따옴표를 사용해야 함.

In [36]:
# 오류가 수정된 코드

print('Hello World')

Hello World

또는

In [37]:
print("Hello World")

Hello World

(3)

In [38]:
print(+2)

2

답

오류가 발생하지 않음. `+2`는 양의 정수 2로 처리됨.

(4)

In [39]:
print(023)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1292398223.py, line 1)

답

- 오류 종류: SyntaxError(구문 오류)

- 오류 원인: 정수, 부동소수점 등은 0으로 시작할 수 없음.

In [40]:
# 오류가 수정된 코드

print(23)

23

또는 숫자가 아닌 기호들의 나열인 `"023"`을 의도했지만 미처 따옴표를 사용하지 않은 경우일 수도 있음.
이처럼 따옴표로 감싸이면 어떠한 기호의 나열도 허용됨.

In [41]:
# 오류가 수정된 코드

print('023')

023

**예제 2**

변수 할당 명령문과 관련하여 주의해야할 점들을 다룬다.
아래 명령문들을 실행해서 오류가 발생하는 경우 오류의 종류와 원인을 설명하고 수정한다.

(1)

In [42]:
23 = n

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2807011745.py, line 1)

답

- 오류 종류: SyntaxError(구문 오류)

- 오류 원인: 변수 할당 명령문의 등호 기호 왼쪽에 변수가, 오른쪽에 할당되는 값이 위치해야 함.
    변수는 숫자로 시작할 수 없음.

In [43]:
# 오류가 수정된 코드 작성

n = 23

(2)

In [44]:
x = y = 1

답

오류 발생하지 않음. x, y 모두 1을 할당 받음.
즉 아래 코드를 간단하게 표현한 것임.
하지만 추천되지 않음. 
이유는 한줄에 하나의 변수를 선언하면 나중에 코드를 이해할 때 보다 쉽게 이해됨.
즉, 한줄에 하나의 명령문만 사용하기 추천.

In [45]:
x = 1
y = 1

(3)

In [46]:
y = k + 1.

NameError: name 'k' is not defined

답

- 오류 종류: NameError(이름 오류)

- 오류 원인: 선언되지 않은 변수 `k` 가 사용됨. 즉 `k` 가리키는 값이 지정되지 않았음.

`k`를 먼저 선언하면 해결된다.
예를 들어 아래 코드는 변수 `k`가 3을 가리키도록 한다.

In [47]:
# 오류가 수정된 코드 작성

# k를 먼저 선언
k = 3

y = k + 1

**예제 3**

먼저 아래와 같이 변수를 선언한다.

In [48]:
number = 17

언급된 값을 표현하는 수식을 `number` 변수를 이용하여 표현한 다음에 실행하여라.

(1) number 더하기 2

답

In [49]:
number + 2

19

(2) number 빼기 2.0

답

In [50]:
number - 2.0

15.0

(3) number 나누기 7

답

In [51]:
number / 7

2.4285714285714284

(4) number를 7로 나눴을 때의 몫

답

In [52]:
number // 7

2

(5) number를 7로 나눴을 때의 나머지

답

In [53]:
number % 7

3

(6) number의 세제곱을 (2 + 3)으로 나누기

답

In [54]:
number**3 / (2 + 3)

982.6

그런데 아래와 같이 하면 다른, 따라서 틀린 값이 나온다.

In [55]:
number**3 / 2 + 3

2459.5

이유는 나눗셈 연산자 `/`의 우선순위가 덧셈 연산자 `+` 보다 높아서 위 수식은 아래 수식처럼 계산되기 때문이다.

In [56]:
(number**3 / 2) + 3

2459.5

**예제 4**

아래 코드에서처럼 3과 3.0을 수식에 함께 사용해도 된다.

In [57]:
3 + 3.0

6.0

반면에 아래 수식을 계산하려 하면 오류가 발생한다.
이유는 따옴표로 감싸인 숫자 기호는 기본적으로 연산에 사용될 수 없기 때문이다.

In [58]:
3 + '3.0'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

반면에 아래 수식은 계산이 허용된다.
다만 9.0이 아닌 따옴표로 감싸인 이상한 숫자 기호들의 나열이 계산된다.
실제로 네 개의 기호 `3`, `.`, `0`으로 구성된 문자열 `'3.0'`이 세 번 단순 반복된다.

In [59]:
3 * '3.0'

'3.03.03.0'

숫자와 숫자가 아닌 것의 연산이 언제 어떤 방식으로 허용되는지에 대해서는 나중에 자세히 다룬다.

**예제 5**

1$\text{m}^2$는 0.3025평이다. 
84$\text{m}^2$는 몇 평인가? 
반대로 30평은 몇 $\text{m}^2$인지 계산하는 코드를 작성한다.

**답**

먼저 유용하게 활용할 수 있는 변수를 선언한다.
어떤 변수가 필요한지, 왜 필요한지를 판단하는 일이 중요하다.

- `one_squaremeter`: 1 제곱미터에 해당하는 평수
- `eightyfour_squaremeter`: 84 제곱미터에 해당하는 평수
- `one_pyeong`: 1 평에 해당하는 제곱미터
- `thirty_pyeong`: 30평에 해당하는 제곱미터

In [60]:
one_squaremeter = 0.3025
eightyfour_squaremeter = 84 * one_squaremeter
one_pyeong = 1 / one_squaremeter
thirty_pyeong = 30 * one_pyeong

선언된 변수를 이용하여 아래와 같이 문자열을 출력한다.

In [61]:
print("84제곱미터:", eightyfour_squaremeter, '평')
print("30평:", thirty_pyeong, '제곱미터')

84제곱미터: 25.41 평
30평: 99.17355371900827 제곱미터

**예제 6**

연이자 5%인 정기예금에 1천만원을 10년간 은행에 맡겼을 때
10년 후에 수령할 금액을 계산하는 코드를 다양한 변수를 활용하여 구현한다.
단, 다음 형식으로 출력하라.

> 10년 후 받을 원금 + 이자는 OOO 원입니다.

원리합계 계산은 아래 식을 따른다.

> 원리합계 ＝ 원금 *  (1 ＋ 연금리 * 기간)

**답**

아래 변수를 활용해서 원리합계 수식을 간단하게 구현할 수 있다.

- principal = 원금
- rate = 연이자율
- period = 저축기간(년)
- savings = 원리합계

In [62]:
principal = 10000000
rate = 0.05
period = 10

savings = principal * (1 + rate * period)

print("10년 후 받는 원금 + 이자는", savings, "원입니다.")

10년 후 받는 원금 + 이자는 15000000.0 원입니다.

## 연습문제

1. 아래 사이트에서 파이썬 프로그래밍을 하는 법을 확인하세요.

    - [깃허브 스페이스](https://github.com/features/codespaces)
    - [구글 코랩](https://colab.research.google.com)
    - [캐글](https://www.kaggle.com)

1. 위 각각의 사이트에서 지금까지 공부한 내용을 직접 실행하세요.