# (필수 예제) 리스트와 튜플

**참고 사항**

먼저 [리스트와 튜플](https://codingalzi.github.io/pybook/lists_tuples.html) 내용을 학습하세요.

## 예제 1

`num_list` 변수 3중으로 중첩된 리스트를 가리킨다.

In [1]:
num_list = [[1, 2, 3, [4, 5]], [6, 7, 8], 9]

**질문 1**

위 리스트에서 `9`를 확인하는 인덱싱 표현식을 정의하라.

**답**

In [3]:
num_list[-1]

9

**질문 2**

위 리스트에서 `7`을 확인하는 인덱싱 표현식을 정의하라.

**답**

In [4]:
num_list[1][1]

7

**질문 3**

위 리스트에서 `[3, [4, 5]]`를 확인하는 인덱싱 표현식을 정의하라.

**답**

In [5]:
num_list[0][2:4]

[3, [4, 5]]

## 예제 2

리스트에 중복된 항목이 있는지 여부를 판단하는 `has_duplicates()` 함수를 구현하라.
단, 리스트의 `in` 연산자와 `append()` 메서드를 이용한다.

**답**

In [6]:
def has_duplicates(aList):
    a = []
    for i in aList:
        if i in a:
            return True
        else:
            a.append(i)

    return False

In [7]:
exc5A = has_duplicates([1, 2, 1, 3]) == True
exc5B = has_duplicates(['hello', 'hi', 'hey']) == False
exc5C = has_duplicates(['a', [1, 2], 1, 2]) == False
exc5D = has_duplicates([True, False, [True, True]]) == False
exc5E = has_duplicates([[True, False], True, [True, False]]) == True

all([exc5A, exc5B, exc5C, exc5D, exc5E])

True

## 예제 3

`sorted()` 함수는 리스트를 파이썬이 정한 값들의 크기를 기준으로 오름차순으로 정렬한 리스트를 반환한다.

In [8]:
num_list = [3, 2, 1, 4, 5]
sorted_list = sorted(num_list)
sorted_list

[1, 2, 3, 4, 5]

`rev_sorted_list` 변수가 `num_list`를 크기 기준 오름차순으로 정렬한 리스트를 가리키도록 하라.

**답**

`sorted()` 함수와 `sort()` 리스트 메서드는 모두 `key`와 `reverse` 두 개의 키워드 인자를 사용한다.

- `key`: 항목 정렬을 위한 기준. 기본값은 파이썬이 정한 값들의 크기.
- `reverse`: 내림차순으로 정렬할지 여부. 기본은 `False`, 즉 오름차순으로 정렬하기.

In [9]:
rev_sorted_list = sorted(num_list, reverse=True)
rev_sorted_list

[5, 4, 3, 2, 1]

## 예제 4

`sorted()` 함수는 리스트를 파이썬이 정한 값들의 크기를 기준으로 오름차순으로 정렬한 리스트를 반환한다.
아래 코드는 튜플로 구성된 리스트를 정렬할 때
튜플의 첫째 항목인 문자열들을 대상으로 알파벳 순서를 기준으로 정렬한다.
이유는 튜플들의 크기 비교는 먼저 첫째 항목을 기준으로 정하고,
첫째 항목의 크기가 동일하면 둘째 항목의 크기를 비교하는 방식으로 결정되기 때문이다.

In [ ]:
my_tuples = [('one', 1), ('three', 3), ('two', 2), ('four', 4)]
sorted(my_tuples)

[('four', 4), ('one', 1), ('three', 3), ('two', 2)]

리스트의 항목을 튜플의 둘째 항목인 정수를 기준으로 정렬하여 아래와 같은
리스트를 생성하는 코드를 구현하라.

```python
[('one', 1), ('two', 2), ('three', 3), ('four', 4)]
```

**답**

`sorted()` 함수는 `key`와 `reverse` 두 개의 키워드 인자를 사용한다.

- `key`: 항목 정렬을 위한 기준. 기본값은 파이썬이 정한 값들의 크기.
- `reverse`: 내림차순으로 정렬할지 여부. 기본은 `False`, 즉 오름차순으로 정렬하기.

아래 코드에서 `num_sorted_list` 변수가 `my_tuples`를
튜플의 둘째 항목인 크기 기준 오름차순으로 정렬한 리스트를 가리키도록 한다.
튜플의 둘째 항목을 크기 비교에 활용하도록 `key` 매개변수의 인자로 튜플에서 둘째 인자를 선택하는
함수가 사용되었음에 주목한다.

In [ ]:
num_sorted_tuples = sorted(my_tuples, key=lambda x: x[1])
num_sorted_tuples

[('one', 1), ('two', 2), ('three', 3), ('four', 4)]

## 예제 5

피보나찌 수열은 다음과 같이 정의 된다.

$$
\begin{align*}
F_0 &= 0 \\
F_1 &= 1 \\
F_{n+2} &= F_{n+1} + F_{n}
\end{align*}
$$

for 반복문과 길이가 2인 리스트를 이용하여 피보나찌 수열의 n 번째 값을 반환하는 함수 `fib()` 를 구현하라.

**답**

In [22]:
def fib(n):
    assert isinstance(n, int)
    assert n >= 0

    if n < 2:
        return n

    fib_list = [0, 1]
    for _ in range(2, n+1):
        new = sum(fib_list)
        fib_list[0] = fib_list[1]
        fib_list[1] = new

    return fib_list[1]

In [24]:
assert fib(5) == 5
assert fib(8) == 21

## 예제 6

6명의 정보가 다음과 같다.

In [1]:
kgh = ['김강현', '010-1234-5678', 20, 172.3, '제주']
whang = ['황현', '02-9871-1234', 19, 163.5, '서울']
namgung = ['남세원', '010-3456-7891', 21, 156.7, '경기']
choihs = ['최흥선', '070-4321-1111', 21, 187.2, '부산']
sjkim = ['김현선', '010-3333-8888', 22, 164.6, '광주']
ja = ['함중아', '010-7654-2345', 18, 178.3, '강원']

In [2]:
info_list = [kgh, whang, namgung, choihs, sjkim, ja]
info_list

[['김강현', '010-1234-5678', 20, 172.3, '제주'],
 ['황현', '02-9871-1234', 19, 163.5, '서울'],
 ['남세원', '010-3456-7891', 21, 156.7, '경기'],
 ['최흥선', '070-4321-1111', 21, 187.2, '부산'],
 ['김현선', '010-3333-8888', 22, 164.6, '광주'],
 ['함중아', '010-7654-2345', 18, 178.3, '강원']]

**질문 1**

`info_list`에 포함된 6명의 이름과 전화번호만으로 구성된 리스트를 가리키는 `phone_list` 변수를 선언하라.
단, `info_list`와 `for` 반복문, 슬라이싱, `append()` 메서드를 반드시 활용한다.

**답**

`phone_list`를 빈 리스트로 초기화한 다음에 `for` 반복문과 인덱싱을 이용하여
6명 각각의 정보를 담은 리스트에서 전화번호 정보가 위치한 1번 인덱스 항목을 `phone_list`에
`append()` 메서드로 추가한다.

In [3]:
phone_list = []                # 전화번호를 저장할 리스트 초기화

for person in info_list:
    phone_list.append(person[:2]) # 전화번호만 추출해서 phone_list에 추가

phone_list

[['김강현', '010-1234-5678'],
 ['황현', '02-9871-1234'],
 ['남세원', '010-3456-7891'],
 ['최흥선', '070-4321-1111'],
 ['김현선', '010-3333-8888'],
 ['함중아', '010-7654-2345']]

**질문 2**

`info_list`를 나이 순으로 정렬하라.

힌트: `sort()` 메서드 활용

**답**

`sort()` 메서드의 `key` 키워드 인자로 리스트의 2번 인덱스 값을  반환하는 함수를 지정한다.
그러면 6명의 나이 순으로 정렬한다.

In [4]:
info_list.sort(key=lambda x:x[2])
info_list

[['함중아', '010-7654-2345', 18, 178.3, '강원'],
 ['황현', '02-9871-1234', 19, 163.5, '서울'],
 ['김강현', '010-1234-5678', 20, 172.3, '제주'],
 ['남세원', '010-3456-7891', 21, 156.7, '경기'],
 ['최흥선', '070-4321-1111', 21, 187.2, '부산'],
 ['김현선', '010-3333-8888', 22, 164.6, '광주']]

**질문 3**

6명의 평균 키를 계산하라.

**답**

먼저 6명의 키로 구성된 리스트를 생성한다.

In [5]:
ages = []

for person in info_list:
    ages.append(person[2])

In [6]:
ages

[18, 19, 20, 21, 21, 22]

평균값은 다음과 같다.

In [7]:
sum(ages)/len(ages)

20.166666666666668

`round()` 함수를 이용하여 소수점 이하 첫째 자리까지만 보이면 보다 깔끔하다.

In [8]:
round(sum(ages)/len(ages), 1)

20.2

**질문 4**

나이순으로 정렬된 6명의 정보 각각에 대해 0번 인덱스의 값으로 해당 정보의 순서를 추가하라.
예를 들어 함중아의 정보는 다음과 같이 수정되어야 한다.

```python
[0, '함중아', '010-7654-2345', 18, 178.3, '강원'],
```

힌트: `enumerate()` 함수 활용

**답**

In [5]:
for idx, item in enumerate(info_list):
    item.insert(0, idx)

In [6]:
info_list

[[0, '함중아', '010-7654-2345', 18, 178.3, '강원'],
 [1, '황현', '02-9871-1234', 19, 163.5, '서울'],
 [2, '김강현', '010-1234-5678', 20, 172.3, '제주'],
 [3, '남세원', '010-3456-7891', 21, 156.7, '경기'],
 [4, '최흥선', '070-4321-1111', 21, 187.2, '부산'],
 [5, '김현선', '010-3333-8888', 22, 164.6, '광주']]

## 예제 7

정수 나눗셈을 실행하여 몫과 나머지를 튜플로 반환하는 함수 `divide_qr()` 함수를 구현하라.
단, 함수의 본문은 `while` 반복문을 이용해야 하며, 몫 연산자 `//` 또는 나머지 연산자 `%` 는
절대 사용하지 않는다.

**답**

In [ ]:
def divide_qr(numerator, denomenator):
    quotient = 0
    while not numerator < denomenator:
        numerator = numerator - denomenator
        quotient += 1

    return (quotient, numerator)

In [ ]:
assert divide_qr(17, 3) == (5, 2)
assert divide_qr(28, 7) == (4, 0)
assert divide_qr(-18, 4) == (0, -18)

## 예제 8

사용자의 이름과 전화번호를 입력 받으면 다음과 같이 반환하는 
`phone_book()` 함수를 구현하라.
단, 사용자의 이름은 두 글자에서 네 글자 사이며, 
핸드폰 번호는 9개에서 11개의 숫자가 다양한 방식으로 주어진다.

```
phone_book('김강현', '010-1234-5678') = ('김*현', 5678)
phone_book('강현', '01012345678') = ('강*', 5678)
phone_book('김강현이', '031-123-5678') = ('김*현이', 5678)
phone_book('강현이', '02-123-5678') = ('강*이', 5678)
phone_book('김강현', '010.1234.5678') = ('김*현', 5678)
```

**답**

In [24]:
def phone_book(name, phone):
    letter_list = list(name)
    letter_list[1] = "*"
    censored_name = "".join(letter_list)
    censored_phone = int(phone[-4:])

    return (censored_name, censored_phone)

In [25]:
print(phone_book('김강현', '010-1234-5678'))
print(phone_book('강현', '01012345678'))
print(phone_book('김강현이', '031-123-5678'))
print(phone_book('강현이', '02-123-5678'))
print(phone_book('김강현', '010.1234.5678'))

('김*현', 5678)
('강*', 5678)
('김*현이', 5678)
('강*이', 5678)
('김*현', 5678)