# (필수 예제) 표현식과 자료형

## 예제 3

먼저 아래와 같이 변수를 선언한다.

In [19]:
number = 17
two_semicolons = ';;'

다음에 오는 각각의 표현식들에 대해, 표현식의 값과 자료형을 확인한다.

**코드 1: `number + 2`**

In [20]:
number + 2

19

In [21]:
type(number + 2)

int

* `number - 2.0`

In [22]:
number - 2.0

15.0

In [23]:
type(number - 2.0)

float

**코드 2: `number / 2`**

In [24]:
number / 2

8.5

In [25]:
type(number / 2)

float

**코드 3: `number // 2`**

In [26]:
number // 2

8

In [27]:
type(number // 2)

int

**코드 4: `number % 2`**

In [28]:
number % 2

1

In [29]:
type(number % 2)

int

**코드 5: `number`의 세제곱을 (2 + 3)으로 나누기**

In [30]:
number**3 / (2 + 3)

982.6

In [31]:
type(number**3 / (2 + 3))

float

그런데 아래와 같이 하면 틀린 값이 나온다.

In [32]:
number**3 / 2 + 3

2459.5

이유는 나눗셈 연산자 `/`의 우선순위가 덧셈 연산자 `+` 보다 높아서 위 수식은 아래 수식과 동일한
값을 계산하기 때문이다.

In [33]:
(number**3 / 2) + 3

2459.5

**코드 6: `two_semicolons * 3`**

In [34]:
two_semicolons * 3

';;;;;;'

In [35]:
type(two_semicolons * 3)

str

## 예제 1

아래 문장들을 적절한 연산자를 이용한 표현식으로 작성한 다음 실행 결과를 확인한다.

**표현식 1:** 정수 25와 정수 12 더하기

**답**

덧셈 연산자를 활용한다.

In [1]:
25 + 12

37

**표현식 2:** 정수 92와 부동소수점 8.0 곱하기

**답**

곱셈 연산자를 활용한다. 정수와 부동소수점의 곱셈은 부동소수점으로 계산된다.

In [2]:
92 * 8.0

736.0

**표현식 3:** 정수 7을 5로 나눴을 때의 몫

**답**

몫 연산자를 활용한다. 결과는 항상 정수다.

In [3]:
7 // 5

1

## 예제 4

아래 수식을 계산하려 하면 오류가 발생한다.

In [37]:
3 + '3.0'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

이유는 숫자로서의 3과 문자열로서의 `'3.0'`의 덧셈 연산은 정의되어 있지 않기 때문이다.
그런데 아래 수식은 계산이 허용된다.
곱셈 연산자 `*`를 정수와 문자열과 함께 실행하면 문자열을 지정된 정수만큼 복제해서 이어붙인다.
따라서 3.03이 세 번 반복된 문자열이 계산된다.

In [38]:
3 * '3.0'

'3.03.03.0'

그런데 유한소수 모양의 문자열을 부동소수점 자료형으로 변환하여 3 + 3.0이
계산되도록 할 수 있다. 
이를 위해 `float()` 함수를 활용한다.
`float()` 함수는 부동소수점 모양의 문자열을 실제 부동소수점으로 변환시킨다.

In [39]:
3 + float('3.0')

6.0

단, `float()` 함수에 부동소수점 모양이 아닌 인자를 사용하면 오류가 발생한다.

In [40]:
float('3-1')

ValueError: could not convert string to float: '3-1'

## 예제 2

입력받은 두 정수의 합을 지정된 형식으로 출력하는 코드를 작성한다.
입력된 두 개의 정수는 각각 변수 `a`와 `b`에 저장한다.
예를 들어 3과 2가 입력되면 아래처럼 화면에 출력한다.

    3 + 2 = 5

**답**

정수 두 개를 각각 입력받을 수 있도록 `input()` 함수를 두 번 사용한다.
첫째 입력값은 정수로 변환해서 `a`에 할당, 둘째 입력값은 `b`에 할당한다.
지정된 형식으로의 출력은 `print()` 함수를 이용한다.
`print()` 함수에 쉼표를 이용하여 여러 개의 인자를 지정하면
각각의 인자가 공백으로 구분되어 한 줄에 출력되는 성질을 이용한다.

In [4]:
a = int(input("첫째 정수를 입력하세요: "))
b = int(input("둘째 정수를 입력하세요: "))

print(a, "+", b, "=", a + b)

첫째 정수를 입력하세요: 3
둘째 정수를 입력하세요: 2
3 + 2 = 5

## 예제 4

두 개의 부동소수점`x`와 `y`를 입력받아 두 수의 
평균값을 아래 형식으로 출력하는 코드를 작성하여라.

    2.4 와 5.7 의 평균값: 4.05

단, `x`와 `y`의 평균값은 `(x + y)/2`이며, 평균값은 소수점 이하 셋째 자리에서 반올림한다.

힌트: `float()` 함수와, `round()` 함수 활용

`round()` 함수의 첫째 인자는 부동소수점, 둘째 인자는 소수점 이하 자릿수를 지정하며
반올림을 이용하여 지정된 자릿수까지만 계산한다.
활용법은 다음과 같다.

In [5]:
round(3.141592, 3)

3.142

In [6]:
round(3.141592, 2)

3.14

**답**

사용자가 정수가 아닌 유한소수를 입력할 것을 예상해야 하기에
`input()` 함수의 결과에 바로 `float()` 함수를 적용한다.
그 다음에 평균값을 계산하여 지정된 방식으로 출력한다.
단, `round()` 함수를 이용하여 소수점 이하의 자릿수를 2로 지정한다.

In [7]:
x = float(input("첫째 유한소수를 입력하세요: "))
y = float(input("둘째 유한소수를 입력하세요: "))

# 평균값
mean = (x + y)/2

print(x, "와", y, "의 평균값:", round(mean, 2))

첫째 유한소수를 입력하세요: 2.4
둘째 유한소수를 입력하세요: 5.7
2.4 와 5.7 의 평균값: 4.05

## 예제 5

사용자로부터 입력받은 후 입력된 정수의 짝수/홀수 여부를 판정하는 코드를 작성한다.

힌트: `input()` 함수와 `int()` 함수 활용

**답**

`input()` 함수를 다음과 같이 이용하여 사용자로부터 정수를 입력 받아 정수로 변환하여
변수 `user_input`에 할당한다.

```python
user_input = int(input("정수 하나를 입력하세요: "))
```

이제 `user_input`에 할당된 정수의 짝수/홀수 여부를 2로 나눈 나머지가 0인지 
여부에 따라 결정하여 그결과를 출력한다.
위 설명을 정리하여 구현하면 다음과 같이 코드를 구현할 수 있다.

In [1]:
user_input = int(input("정수 하나를 입력하세요: "))

if user_input % 2 == 0:
    print("짝수")
else:
    print("홀수")

정수 하나를 입력하세요:  9
홀수

또는 `if ... else ...` 조건문을 사용하지 않으면서 짝수일 때는 `True`를 홀수일 때는 `False`를 
바로 출력하게 할수도 있다.

In [8]:
user_input = int(input("정수 하나를 입력하세요: "))

print("입력값이 짝수인가요?", user_input % 2 == 0)

정수 하나를 입력하세요: 17
입력값이 짝수인가요? False

## 예제 6

사용자로부터 하나의 정수를 입력받은 후 입력값이 17보다 크면 
입력값과 17의 차이의 제곱을, 
아니면 입력된 정수를 출력하는 코드를 작성한다.

힌트: `input()` 함수와 `int()` 함수 활용

**답**

두 정수의 크기비교를 위해 `>` 연산자를 이용한다.
`a`가 표현하는 값이 `b`가 표현하는 값보다 클 때 
표현식 `a > b`가 `True`로 계산된다는 사실을 
`if ... else ...` 조건문에 적용한다.

- 20을 입력할 때: 9 출력

In [11]:
user_input = int(input("정수 하나를 입력하세요: "))

if user_input > 17:
    print((user_input - 17)**2)
else:
    print(user_input)

정수 하나를 입력하세요: 20
9

- 15를 입력할 때: 15 출력

In [12]:
user_input = int(input("정수 하나를 입력하세요: "))

if user_input > 17:
    print((user_input - 17)**2)
else:
    print(user_input)

정수 하나를 입력하세요: 15
15

## 예제 7

사용자로부터 0이 아닌 한자리 정수 `n` 을 입력받아 `n + nn + nnn` 을 계산하는 코드를 작성한다.
단, `nn`과 `nnn`은 곱셈이 아니고 문자열 `n`을 각각 두 번과 세 번 반복한 결과로 생성된 정수를 가리킨다.
예를 들어 5가 입력되면 아래 값이 계산되어야 한다.

```
5 + 55 + 555 = 615
```

힌트: `input()` 함수와 `int()` 함수 활용. 문자열 이어붙이기 연산자 `+` 또는 복제 후 이어붙이기 연산자 `*` 활용.

주의사항: `int(input())` 형식은 사용하지 않음.

**답**

- 문자열 이어붙이기 연산자 `+` 활용

5를 입력하면 `input()` 함수는 문자열 `'5'`를 입력값으로 지정한다.

    n = input("한 자리 정수 하나를 입력하세요: ")

이제 `+` 연산자를 이용하여 변수 `n`에 할당된 값을 이어붙인다.
예를 들어 문자열 `'5'`를 이어붙이면 `'55'`가 된다.
여기에 `int()` 함수를 적용하면 정수 55가 계산된다.
유사한 방식으로 정수 555를 계산할 수 있다.

위 설명을 코드로 구현하면 다음과 같으며
정수 5를 입력해서 `5 + 55 + 555`를 계산한다.

In [13]:
n = input("한 자리 정수 하나를 입력하세요: ")
nn = n + n
nnn = nn + n

print(int(n) + int(nn) + int(nnn))

정수 하나를 입력하세요: 5
615

- 문자열 복제 후 이어붙이기 연산자 `*` 활용

두 변수 `n`과 `nn`을 `*` 연산자를 이용하여 정의한다.
실행할 때 7을 입력하여 `7 + 77 + 777 = 861`을 계산한다.

In [14]:
n = input("한 자리 정수 하나를 입력하세요: ")
nn = n * 2
nnn = n * 3

print(int(n) + int(nn) + int(nnn))

정수 하나를 입력하세요: 5
615

## 예제 8

다음 모양을 출력하는 코드를 작성한다.
두 개의 별 기호 사이에 공백(space)이 사용됨에 주의한다.
공백도 하나의 기호로 취급된다.
단, `print()` 함수와 `while` 반복문은 한 번씩만 활용한다.

```
* * * * *  
* * * *  
* * *  
* *  
*
*
* *
* * *
* * * *
* * * * *
```

**답**

별 기호와 공백으로 구성된 문자열, 즉 `"* "`이 차례대로 5, 4, 3, 2, 1 번씩,
이후에 다시 1, 2, 3, 4, 5 번씩 반복된다.
`While` 반복문:  총 10번 출력하며 처음 5번과 나중 5번이 대칭을 이룬다.
`num`이 0부터 9까지 변할 때 `'* '` 문자열이 반복되는 횟수를 `stars` 변수에 할당하는데 
`num`에 할당된 값이 5일 때를 기준으로 달라진다.

In [1]:
num = 0
while num < 10:
    if num < 5:
        stars = 5 - num
    else:
        stars = num - 4
        
    print("* " * stars)
        
    num += 1

* * * * *
* * * *
* * *
* *
*
*
* *
* * *
* * * *
* * * * *